
.list-group-item {
	word-wrap: break-word;
}

#todolist button {
	margin-left: 5px;
}

.checkboxTexStyle {
	color: rgb(85, 4, 193) 0, 23);
	font-family: Monaco, "Lucida Console", Verdana;
	padding: 2px;
	text-align: left
}

.footNoteTextStyleLarge {
	color: #5504c1;
	font-family: Papyrus, "Brush Script MT", Verdana;
	font-size: 0.9em;
}

.footNoteTextStyleSmall {
	color: #400040;
	font-family: Monaco, "Lucida Console", Verdana;
	font-size: 0.6em;
}

#footNoteTable {
	width: 100%;
}

#footNoteTable tr:hover {
	background-color: white;
}

#footNoteTable td:nth-child(1) {
	width: 50em;
}

#footNoteTable td:nth-child(2) {
	width: 20em;
	text-align: end;
}

tr:hover {
	background-color: beige;
}

#reviewTextStyle {
	color: purple;
	font-family: Monaco, "Lucida Console", Verdana;
	font-size: 0.85em;
}

#reviewSummaryOrderedList {
	margin-left: 0.5em
}

.sendEmailFormTexStyle {
	color: #6d6d6d;
	font-family: Monaco, "Lucida Console", Verdana;
	font-size: 0.85em;
	padding: 2px;
	text-align: left
}

#sendEmailFormTable {
	width: 100%;
	/* border: 1px solid #ddd; */
	padding: 8px;
}

#sendEmailFormTable td:nth-child(1) {
	width: 15%;
	text-align: right;
	padding: 4px;
	font-size: 1em;
	font-weight: 600;
}

#sendEmailFormTable td:nth-child(2) {
	width: 85%;
	text-align: end;
	padding: 4px;
}

#emailTable {
	width: 100%;
}

#emailTable td:nth-child(1) {
	width: 50em;
}

#emailTable td:nth-child(2) {
	width: 20em;
	text-align: end;
}

#attachmentExtractsTable {
	width: 100%;
}

#attachmentExtractsTable th:nth-child(1) {
	width: 15em;
	text-align: left
}

#attachmentExtractsTable th:nth-child(2) {
	width: 85em;
	text-align: left
}

#attachmentExtractsTable th:nth-child(3) {
	width: 2em;
	text-align: left
}

#attachmentExtractsTable th:nth-child(4) {
	width: 1em;
	text-align: end
}

#attachmentExtractsTable th {
	text-align: left;
	background-color: #04AA6D;
	color: white;
	border: 1px solid #ddd;
	padding: 8px;
	font-family: Monaco, "Lucida Console", Verdana;
}

#attachmentExtractsTable td {
	border: 1px solid #ddd;
	padding: 8px;
	font-family: Monaco, "Lucida Console", Verdana;
	font-size: 0.75em;
}

#attachmentExtractsTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

#attachmentExtractsTable td:nth-child(1) {
	width: 25em;
	text-align: left
}

#attachmentExtractsTable td:nth-child(2) {
	width: 75em;
	text-align: left
}

#attachmentExtractsTable td:nth-child(3) {
	width: 2em;
	text-align: left
}

#attachmentExtractsTable td:nth-child(4) {
	width: 1em;
	text-align: end
}

#attachmentExtractsTable tr:hover {
	background-color: #ddd;
}

